<div class="row  p-3 headernav m-0">
  <div class="container">
    <div class="row m-0">
      <div class="pl-3">
        <h5><img width="30px" src="/logo.svg"> <b>HealthChain</b></h5>
      </div>
      <div class="ml-auto">
        <a>Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a>Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a>Signup</a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="bgc1">
  <div class="container bgc1">
    <div class="row bgc1 h-100 m-0">
      <div class="col-md-6">
        <div class=" text-left p-5" style="color: #fff;">

          <h1><b>HealthChain</b></h1>
          <h2>Digital healthcare system using blockchain</h2>
          <p>Create an account or login</p>
          <a href="/users/register" class="btn button-secondary ">Register</a>
          <a href="/users/login" class="btn btn-secondary ">Login</a>
        </div>
      </div>
      <div class="col-md4">
        
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/doctor.jpg" height="330px" alt="">
    </div>
    <div class="col-md-6 p-4 c1">
      <br>
      <h2><b>Data Privacy</b></h2>
      <br>
      <p>
        Blockchain's ability to keep an incorruptible, decentralized and transparent log of all patient data makes it a
        technology rife for security applications. Additionally, while blockchain is transparent it is also private,
        concealing the identity of any individual with complex and secure codes that can protect the sensitivity of
        medical data.
      </p>
    </div>
  </div>
</div>